/*header*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

header {
    background-image: url(Object.png);
    background-repeat: no-repeat;
    padding: 0 20px;
}

/* logo*/
.navbar img {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;

}

/* nav*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/*.menu */
.menu {
    list-style: none;
    display: flex;
    padding: 10px 5px;
}

.menu li {
    margin-left: 20px;
}


/*X */
.X {
    width: 150px;
    height: 48px;
}

/* ul */
ul {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-end;
    gap: 20px;
}

/* li a */
li a {
    text-decoration: none;
    color: white;
    font-size: 10px;

}

.responsivesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.N h1 {
    color: #FFFFFF;
    font-size: 110px;
    margin: 140px 0 0 70px;
}

.N {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.N div {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;

}

span {
    padding: 0 20px;
}

/*button*/
button {
    background-color: rgba(194, 113, 255, 1);
    font-size: 14px;
    border-radius: 20px;
    padding: 7px 5px;
    margin: 30px 0;
}


@media (max-width: 600px) {
    .N h1 {
        font-size: 35px;
        margin: 40px 10px;
        padding: 30px;
    }

    .N div {
        margin-bottom: 10px;
    }

    span {
        font-size: 8px;
    }

    .menu {
        padding: 5px;
    }

    button {
        font-size: 10px;
        padding: 5px 3px;
        margin: 20px 0;
    }
}

@media (min-width: 601px) {

    .navbar {
        padding: 20px 30px;
    }

    .N h1 {
        font-size: 55px;
        padding: 0;
        margin-right: 100px;
    }

    .N div {
        margin-right: 30px;
    }

    button {
        font-size: 12px;
        padding: 4px 6px;
        margin: 40px 0;
    }
}

@media (min-width: 1025px) {
    .N h1 {
        font-size: 120px;
    }

    button {
        padding: 7px 9px;
        margin-right: 40px;
    }
}

/*container*/
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 90%;
    margin: 2px 50px;
}


.flex {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.flex div {
    padding: 50px;
}

.flex div img {
    width: 145px;
}

.flex div h3 {
    font-size: 16px;
}

.flex div p {
    font-size: 14px;
}

.Y {
    border-radius: 50%;
}

@media (max-width: 600px) {

    .container {
        margin: 1px 20px;
    }

    .container h2 {
        font-size: 18px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .flex div {
        padding: 5px;
    }

    .flex div img {
        width: 75px;
    }

    .flex div h3 {
        font-size: 12px;
    }

    .flex div p {
        font-size: 9px;
    }

}

@media (min-width: 601px) {
    .flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .flex div img {
        width: 135px;
        height: 135px;
    }

    .flex div h3 {
        font-size: 14px;
    }

    .flex div p {
        font-size: 10px;
    }
}

@media (min-width: 1025px) {

    .container h2 {
        margin-top: 90px;
    }

    .flex {
        display: flex;
        padding: 30px 0;
        margin: 20px 0 0 0;
    }

    .flex div img {
        width: 150px;
        height: 150px;
    }

    .flex div h3 {
        font-size: 16px;
    }

    .flex div p {
        font-size: 14px;
    }
}

.home {
    background-color: rgba(194, 113, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
    gap: 10px;
}

.home div img {
    width: 160px;
    height: 160px;
    margin: 20px;
}

.nel {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 20px;
    width: 640px;
    gap: 20px;
}

@media (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home div img {
        width: 100px;
        height: 100px;
    }

    .nel {
        font-size: 13px;
        padding: 0 120px
    }

}

@media (min-width: 601px) {
    .home {
        padding: 60px;
    }

    .home div img {
        width: 130px;
        height: 130px;
    }

    .nel {
        padding: 10px;
        font-size: 15px;
    }
}

@media (min-width: 1025px) {
    .home div img {
        width: 160px;
        height: 160px;
    }

    .nel {
        font-size: 22px;
        width: 800px;
    }
}

/* section*/
.DNA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 90%;
    margin: 50px;
}

.NGA h2 {
    text-align: center;
    margin-top: 50px;
}

.D {
    position: relative;
    padding: 30px 0px;
}

/*.foreground*/
.foreground {
    position: absolute;
    padding: 50px 80px;
}

.F {
    position: relative;
    width: 30px;
    top: 15px;
}


.H {
    color: rgba(194, 113, 255, 1);
    font-size: 8px;
    position: relative;
    left: 100px;
    top: 12px;
}

.I {
    font-size: 12px;

}

.J {
    color: rgba(7, 22, 41, 0.5);
    position: relative;
    font-size: 10px;
    width: 160px;


}

.K {
    color: rgba(194, 113, 255, 1);
    position: relative;
    left: 40px;
    top: -5;
    font-size: 10px;
}

.PM {
    color: rgba(194, 113, 255, 1);
    position: relative;
    width: 60px;
    top: 20px;
}

@media (max-width: 600px) {

    .NGA h2 {
        font-size: 18px;
    }

    .DNA {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .D {
        padding: 10px 130px;
        margin: 0;
    }

    .foreground {
        width: 90px;
        padding: 15px 30px;
    }

    .E {
        width: 100px;
    }
}

@media (min-width: 601px) {
    .NGA h2 {
        font-size: 20px;
    }

    .DNA {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .D {
        padding: 20px 100px;
    }

    .E {
        width: 180px;
    }

    .foreground {
        width: 150px;
        padding: 30px 55px;
    }
}

@media (min-width: 1025px) {
    .DNA {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .D {
        padding: 30px;
    }
}

.S {
    color: #FFFFFF;
}

/*section*/
.KGN {
    background-color: rgba(7, 22, 41, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 70px;
}

.L {
    color: white;

}

.kgnsection {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
}

.O {
    color: rgba(255, 255, 255, 1);
}

.P {
    color: rgba(255, 255, 255, 1);
}

.button {

}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

/* section */
.NVB {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}

.R {
    color: rgba(7, 22, 41, 1);
    position: relative;
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    width: 139px;
    height: 30px;
    left: -10px;
    top: 6px;
}

.bread {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 160px;
    gap: 200px;
}

.road {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
    width: 390px;
    top: -90px;
    gap: 40px;

}

.PH {
    color: rgba(7, 22, 41, 1);
    position: relative;
    top: 20px;
}

.PD {
    color: rgba(7, 22, 41, 0.5);
}

@media (max-width: 1024px) {
    .bread {
        gap: 40px;
        left: 40px;
    }

    .road {
        gap: 25px;
    }

    .NVB {
        height: 450px;
    }

    .R {
        font-size: 30px;
    }


    .PH {
        font-size: 14px;
    }

    .PD {
        font-size: 11px;
        width: 350px;
    }
}

@media (max-width: 768px) {
    .R {
        font-size: 20px;
    }

    .NVB {
        height: 420px;
    }

    .bread {
        display: flex;
        flex-direction: column;
        left: 40px;
        top: 110px;
        gap: 0px;
    }

    .ph {
        font-size: 10px;
    }

    .pd {
        font-size: 7px;
        width: 250px;
    }

    .road {
        gap: 24px;
    }

}


/*section*/

footer {
    background-color: rgba(7, 22, 41, 1);
    height: 150px;
}

.footersection {
    display: flex;
    flex-direction: column;
}


.footerdiv div img {
    width: 25px;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.footerdiv div {
    display: flex;
    position: relative;
    right: 200px;
    gap: 20px;
}

.footerdiv img {
    position: relative;
    left: 90px;
}

.copyright {
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 12px;
    bottom: 10px;
}


@media (max-width: 1024px) {
    .footerdiv {
        gap: 200px;
    }
}

@media (max-width: 768px) {

    .footersection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footerdiv img {
        width: 100px;
        top: -15px;
        left: 140px;
    }

    .footerdiv div img {
        width: 15px;
        top: 30px;
        left: 50px;
    }
}