header {
    background-image: url(Object.png);
    background-repeat: no-repeat;
    height: 900px;
}

h1 {
    color: #FFFFFF;
    font-size: 150px;
}

.logo {
    position: absolute;
    width: 167.02px;
    height: 29.46px;
    left: 171.59px;
    top: 35.02px;
}

.menu {
    position: absolute;
    width: 234px;
    height: 15px;
    left: 980px;
    top: 15px;
    


}

span {
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    top: -140px;
    font-size: 15px;
    
    
}

button {
    background-color: rgba(194, 113, 255, 1);
    position: absolute;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    left: 44%;
    top: 400px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.X {
    width: 150px;
    height: 48px;
}

ul {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: flex-end;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 10px;

}

.N {
    text-align: center;
    gap: 200px;
}

.container {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-content: center;
    left: 217px;
    top: 600px;
    gap: 100px;
}

.Y {
    border-radius: 90px;
}

.home {
    background-color: rgba(194, 113, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    position: relative;
    height: 300px;

}

.nel {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
}

.house {
    display: flex;
    position: absolute;
    left: 200px;
    top: 60px;
}

.teacher {
    color: #FFFFFF;
    display: flex;
    position: relative;
    top: 100px;
}

.A {
    color: #FFFFFF;
    position: relative;
    left: 50px;
    top: 100px;
}

.B {
    color: #FFFFFF;
    position: relative;
    top: 65px;
    left: 50px;
}

.NGA {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(7, 22, 41, 0.18)s;
    height: 500px;
    gap: 50px;

}

.C {
    display: flex;
    position: relative;
    top: 60px;
    left: 440px;
    gap: 10px;
}

.D {
    position: relative;
    left: -140px;
    top: 200px;
    bottom: 10px;
}

.E {
    width: 160px;
    height: 100px;

}

.foreground {
    position: absolute;
    width: 50px;
    top: 23px;
    right: 55px;
}

.F {
    width: 30px;
}

.G {
    position: relative;
    display: flex;
    gap: 5px;
}

.H {
    color: rgba(194, 113, 255, 1);
    font-size: 8px;
    position: relative;
    left: 100px;
    top: -44px;
}

.I {
    font-size: 12px;

}

.J {
    color: rgba(7, 22, 41, 0.5);
    position: relative;
    font-size: 10px;
    width: 160px;


}

.K {
    color: rgba(194, 113, 255, 1);
    position: relative;
    left: 40px;
    top: -33;
    font-size: 10px;
}

.fa-solid {
    color: rgba(194, 113, 255, 1);
    font-size: 8px;
    position: relative;
    top: -28px;
    gap: 1000px;
}

.S {
    color: #FFFFFF;
}

.KGN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(7, 22, 41, 1);
    position: relative;
    height: 400px;
    gap: 2px;
}

.L {
    color: white;
    width: 234px; 
    position: relative;
    left: 550px; 
    top: 40px;    
}

.M {
    position: relative;
    left: 5px;
    top: 150px;
    right: 150px;
}
 .O {
    color: white;
    position: relative;
    width: 256px;
    top: 150px;
    left: -20px;
 }
 .P { 
    color: white;
    position: relative;
    width: 200px;
    font-size: 12;
    top: 150px;
    right: 50px;
 }

 .Q {
    position: absolute;
    top: 330px;
   height: 44px;
   left: 612px;
}