body,
main {
    display: flex;
}
header {
    background-color: blueviolet;
}
body {
    background-color: dodgerblue;
    flex-direction: column;
}

main {

    flex-direction: row;
    flex: auto;
}

article {
    background-color: aqua;
    flex: 2;
    overflow-y: auto;
}

aside {
    background-color: blanchedalmond;
    flex: 1;
    overflow-y: auto;
}